.navbar {
    height: 100px;
    margin-bottom: 25px;
    justify-content: flex-start;
    display: flex;
}
.navbar-background {
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: orange;
    border-style: solid;
    border-color: #1b1b1b;
    border-width: 0 0 20px;
}
.navbar-button {
    height: 40px;
    width: 150px;
    margin: 0 5px 0;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 8px 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #464646;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #1b1b1b;
    align-self: flex-end;
    flex-shrink: 0;
}
.navbar-button:hover {
    color: black;
    background: #b9b8b8;
    border-color: #8a8a8a;
}